In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing.data import StandardScaler
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [2]:
dataset_loc = 'datasets/covertype/covtype.data'

cols = ['Elevation', 'Aspect', 'Slope', 'Hor2Hydro', 'Ver2Hydro', 'Hor2Road', 'Hillshade_9am', 'Hillshade_Noon',
        'Hillshade_3pm', 'Hor2FirePt']

for f in range(0, 4):
    cols.append('Wilderness_Area_{}'.format(f))
    
for f in range(0, 40):
    cols.append('Soil_Type_%d'%f)

cols.append("Cover_Type")

df = pd.read_csv(dataset_loc, sep=',', names=cols)
df.head()

,Elevation,Aspect,Slope,Hor2Hydro,Ver2Hydro,Hor2Road,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Hor2FirePt,...,Soil_Type_31,Soil_Type_32,Soil_Type_33,Soil_Type_34,Soil_Type_35,Soil_Type_36,Soil_Type_37,Soil_Type_38,Soil_Type_39,Cover_Type
0,2596,51,3,258,0,510,221,232,148,6279,...,0,0,0,0,0,0,0,0,0,5
1,2590,56,2,212,-6,390,220,235,151,6225,...,0,0,0,0,0,0,0,0,0,5
2,2804,139,9,268,65,3180,234,238,135,6121,...,0,0,0,0,0,0,0,0,0,2
3,2785,155,18,242,118,3090,238,238,122,6211,...,0,0,0,0,0,0,0,0,0,2
4,2595,45,2,153,-1,391,220,234,150,6172,...,0,0,0,0,0,0,0,0,0,5

In [3]:
df.shape

(581012, 55)

In [7]:
#10 non categorical and considered class 4 as anomaly and class 2 as normal.

#class 2 only has 2747 points while class 4 has 283301 points.

normal = df[df['Cover_Type'] == 4]
anomalies = df[df['Cover_Type'] == 2]

In [9]:
anomalies.head()

,Elevation,Aspect,Slope,Hor2Hydro,Ver2Hydro,Hor2Road,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Hor2FirePt,...,Soil_Type_31,Soil_Type_32,Soil_Type_33,Soil_Type_34,Soil_Type_35,Soil_Type_36,Soil_Type_37,Soil_Type_38,Soil_Type_39,Cover_Type
2,2804,139,9,268,65,3180,234,238,135,6121,...,0,0,0,0,0,0,0,0,0,2
3,2785,155,18,242,118,3090,238,238,122,6211,...,0,0,0,0,0,0,0,0,0,2
5,2579,132,6,300,-15,67,230,237,140,6031,...,0,0,0,0,0,0,0,0,0,2
11,2886,151,11,371,26,5253,234,240,136,4051,...,0,0,0,0,0,0,0,0,0,2
12,2742,134,22,150,69,3215,248,224,92,6091,...,0,0,0,0,0,0,0,0,0,2